/app/code/Magento/*
/app/etc/*
.DS_Store
.htaccess
.htaccess.sample
.idea/
.php_cs
.travis.yml
CHANGELOG.md
CONTRIBUTING.md
CONTRIBUTOR_LICENSE_AGREEMENT.html
COPYING.txt
Gruntfile.js
LICENSE.txt
LICENSE_AFL.txt
README.md
app/.htaccess
app/autoload.php
app/bootstrap.php
app/design/
app/functions.php
app/i18n/
bin/
composer.json
composer.lock
dev/
index.php
lib/
magento.iml
nginx.conf.sample
package.json
php.ini.sample
phpserver/
pub/
setup/
var/
vendor/