<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="CloudFlare_Plugin::cloudflare_plugin" title="Cloudflare" module="CloudFlare_Plugin" sortOrder="20" parent="Magento_Integration::system_extensions" action="cloudflare/plugin" resource="CloudFlare_Plugin::index"/>
    </menu>
</config>
